# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code & IDE files
.vscode/
.idea/
*.swp
*.swo

# Operating System files
Thumbs.db
Desktop.ini
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/
